# Clustered neighborhoods of Toronto
#### by Yishai Rasowsky

### #1 Import libraries

In [29]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
print('Libraries successfully installed!')

Libraries successfully installed!

### #2 Download dataframe

In [30]:
dfs = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M',header=0)
#for df in dfs:
df2 = dfs[0]
print('Dataframe successfully scraped from Wikipedia!\nThese are the first rows...')
#df2=df2.replace(to_replace ="Not assigned",                 value ="Omega Warrior") 

df2.head()

Dataframe successfully scraped from Wikipedia!
These are the first rows...

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### #3 Remove boroughless entries

In [31]:
# For each row that has the middle column unassigned, delete that row.
df3=df2[df2['Borough'] != 'Not assigned']
df3.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

### #4 Combine neighborhoods

In [32]:
# Define a new series based on the sorted values of the previous dataframe
series4 = df3.groupby(['Postcode','Borough'])["Neighbourhood"].apply(lambda item:', '.join(item))
# Construct a dataframe based on that series
df4 = pd.DataFrame(series4) 
# Display first rows
df4.head()

                                               Neighbourhood
Postcode Borough
M1B      Scarborough                          Rouge, Malvern
M1C      Scarborough  Highland Creek, Rouge Hill, Port Union
M1E      Scarborough       Guildwood, Morningside, West Hill
M1G      Scarborough                                  Woburn
M1H      Scarborough                               Cedarbrae

### #5 Identify neighborhood-less rows

In [33]:
# Display which boroughs have no assigned neighborhood
df5=df4[df4['Neighbourhood'] == 'Not assigned']
df5.head()

                      Neighbourhood
Postcode Borough
M7A      Queen's Park  Not assigned

### #6 Assign borough name to unnamed neighborhoods

In [36]:
# Replace the entry in the Not 
df6=df4.replace(to_replace ="Not assigned", value ="Queen\'s Park")
result=df6
result.head()

                                               Neighbourhood
Postcode Borough
M1B      Scarborough                          Rouge, Malvern
M1C      Scarborough  Highland Creek, Rouge Hill, Port Union
M1E      Scarborough       Guildwood, Morningside, West Hill
M1G      Scarborough                                  Woburn
M1H      Scarborough                               Cedarbrae

### #7 Check if any unnamed neighborhoods remain - hopefully not!

In [35]:
# Display which boroughs have no assigned neighborhood
# We want this to return nothing at all!
df7=df6[df6['Neighbourhood'] == 'Not assigned']
df7.head()

Empty DataFrame
Columns: [Neighbourhood]
Index: []

### #8 What is the shape?

In [38]:
result.shape

(103, 1)